.btn .slick-prev:before,.btn .slick-next:before {
    color: white;
    
    
  }

  @media screen and (max-width: 460px){
    .sports{
      width: 90vw;
      height: 200px;
    }
    .sports_main{
      width: 90vw;
      
    }
  }
 