@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.btn .slick-prev:before,
.btn .slick-next:before {
  color: white;


}

.sports_name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 460px) {
  .sports {
    width: 90vw;
    height: 200px;
  }

  .sports_main {
    width: 90vw;

  }
}