.Featured {
  background: linear-gradient(to bottom, #242424 50%, white 50%);
  color: white;
  text-align: center;
  margin-bottom: 4%;
}

.horizontal-line {
  width: 80%; /* Responsive width */
  height: 0.1vh; /* Scaled height */
  background-color: white;
  margin-bottom: 5%; /* Responsive margin */
}

.text-wrapper-35 {
  font-family: "Roboto Flex-Bold", Helvetica;
  color: white;
}

.image-container {
  display: flex;
  justify-content: space-around;
  gap: 2vw; /* Scaled gap */
}

.image-wrapper {
  text-align: center;
}

.rectangle {
  height: 45vh; /* Proportional to viewport height */
  width: 22vw; /* Proportional to viewport width */
  border-radius: 1vw; /* Scaled radius */
  object-fit: cover;
  margin-bottom: 1vh; /* Scaled margin */
  box-shadow: 0px 0.4vw 2vw 0.4vw rgba(0, 0, 0, 0.25); /* Scaled shadow */
}

@media only screen and (max-width: 1100px) {
  .rectangle {
    height: 25vh; /* Adjusted height */
    width: 30vw;
    border-radius: 2vh; /* Adjusted width */
  }
  .text-wrapper-35{
    font-size: 5vh !important; /* Scaled font size */
  }
}

@media only screen and (max-width: 900px) {
  .rectangle {
    height: 20vh; /* Adjusted height */
    width: 30vw; /* Adjusted width */
  }
}

@media only screen and (max-width: 740px) {
  .rectangle {
    height: 20vh; /* Smaller height for smaller screens */
    width: 30vw; /* Adjusted width */
  }
  .image-number {
    font-size: 4vw !important; /* Scaled font size */
  }
  .image-title {
    font-size: 3vw !important; /* Scaled font size */
  }
  .image-date {
    font-size: 2.5vw !important; /* Scaled font size */
  }
}


@media only screen and (max-width: 550px) {
  .rectangle {
    height: 15vh; /* Smaller height for small screens */
    width: 40vw; /* Adjusted width */
  }
  .image-number {
    font-size: 3.5vw !important; /* Relative font size */
  }
  .image-title {
    font-size: 2.7vw !important; /* Relative font size */
  }
  .image-date {
    font-size: 2.5vw !important; /* Relative font size */
  }
}

.image-text {
  color: black;
  margin: 0;
  line-height: 1.2;
  padding: 0;
  scrollbar-width: none;
}

.image-number {
  font-family: "Roboto Flex-Bold", Helvetica;
  font-size: 4vw; /* Scaled font size */
  color: #000000;
  margin: 0;
  padding: 0;
}

.image-title {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-size: 2.5vw; /* Scaled font size */
  color: #000;
  font-weight: 400;
}

.image-date {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-size: 2vw; /* Scaled font size */
  color: #a57979;
}
