.galleryBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryContainer{
  display: grid;
  column-gap: 3vw;
  row-gap: 3vw;
  justify-content: center;
  width: 100vw;
  grid-template-columns: auto auto auto;
  margin-bottom: 5vh;
}

.galleryItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38vw;
    height: 65vh;
    align-items: center;
    /* background-color: aliceblue; */
}

.sideItems{
  display: flex;
  width: auto;
  padding-top: 1vh;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-bottom: 1vh;
}

.middleImage{
  border-radius: 10px;
  width: 35vw;
  transition: 0.4s ease;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(129, 129, 129);
}

.middleImage:hover{
  width: 36.5vw;
  box-shadow: 7px 7px 5px rgb(55, 55, 55);
}

.imageItem{
  width: 26vw;
  border-radius: 10px;
  transition: 0.4s ease;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(129, 129, 129);
}

.imageItem:hover{
  width: 28vw;
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
}

@font-face {
  font-family:Aptos-SemiBold;
  src: url("/public/fonts/Aptos-SemiBold.ttf");
}

.galleryHeading h1{
  font-size: 6vw;
  font-style:italic 
}