/* src/SectionHeader.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.section-header {
    position: relative;
    /* Ensure positioning context for absolute children */
    height: 86vh;
    background-color: white;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section-title {
    position: absolute;
    left: 100px;
    top: 3%;
    font-size: 350%;
    font-weight: 600;
    margin-bottom: 0%;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.175);
}

.section-date {
    position: absolute;
    right: 5%;
    top: 77%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0%;
}
@media screen and (max-width: 1200px) {
    .section-title {
        font-size: 300% !important;
            left: 66px;
                top: 0%;
    }
}
@media screen and (max-width: 600px) {
    .section-title {
        font-size: 250% !important;
        top: -2% !important;
    }
    
}
@media screen and (max-width: 400px) {
    .section-title {
        font-size: 220% !important;
        top: -2% !important;
    }
}

.section-date2 {
    position: absolute;
    right: 5%;
    top: 88%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 0%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    /* Reduce the gap between the cards */
    overflow: hidden;
    /* Hide overflow to remove scrollbars */
    background-color: white;
}

.card {
    width: 35%;
    border-radius: 10px;
    transition: transform 0.3s;

}

.card:nth-child(1) {
    position: absolute;
    top: 100px;
    left: 9%;
    z-index: 1;
    height: 90%;
}

.card:nth-child(2) {
    position: relative;
    top: 50px;
    left: 31%;
    /* Adjust based on card width */
    z-index: 2;
    height: 80vh;
}

.card:nth-child(3) {
    position: absolute;
    top: 0;
    left: 55%;
    /* Adjust based on card width */
    z-index: 3;
    height: 90%;
}

@media (max-width: 768px) {
    .cards-container {
        flex-wrap: wrap;
        gap: 0;
    }

    .card:nth-child(1) {
        transform: translateY(20px);
    }

    .card:nth-child(2) {
        transform: translateY(10px);
    }

    .card:nth-child(3) {
        transform: translateY(0);
        z-index: 1;
    }
    .section-date{
        font-size: 55px;
    }
    .section-date2{
        font-size: 45px;
    }
}

.section-stage {
    font-size: 10px;
    color: grey;
    margin-bottom: 0%;
    position: absolute;
    top: 87%;
    left: 10%;
}

.sportsbg {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    width: 100vw;
    font-size: 275px;
    z-index: 100;
    color: #eceaea4d;
    top: 20%;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .sportsbg {
        font-size: 200px;
    }
}
@media screen and (max-width: 1000px) {
    .sportsbg {
        font-size: 180px;
    }
}
@media screen and (max-width: 850px) {
    .sportsbg {
        top: 28%;
        font-size: 160px;
    }
}
@media screen and (max-width: 750px) {
    .sportsbg {

        font-size: 140px;
    }
}
@media screen and (max-width: 650px) {
    .sportsbg {

        font-size: 120px;
    }
}
@media screen and (max-width: 550px) {
    .sportsbg {

        font-size: 100px;
    }
}
@media screen and (max-width: 450px) {
    .sportsbg {

        font-size: 80px;
    }
}
@media screen and (max-width: 350px) {
    .sportsbg {
        top: 35%;
        font-size: 60px;
    }
}

 .play-button {
     width: 75px;
     /* Adjust the size as needed */
     height: 75px;
     /* Adjust the size as needed */
     background-color: white;
     /* Circle color */
     border-radius: 50%;
     /* Makes the button circular */
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    bottom: 40%;
        right: 48%;
        z-index: 100;
     /* Optional: for a shadow effect */
 }

 .play-button::before {
     content: "";
     position: absolute;
     width: 0;
     height: 0;
     border-left: 35px solid black;
     /* Triangle color */
     border-top: 20px solid transparent;
     border-bottom: 20px solid transparent;
     transform: translateX(5px);
     /* Optional: for centering the triangle inside the circle */
 }
 .play-button:hover {
     border: 2px solid orange;
     transition: all;
     /* Orange border on hover */
     box-shadow: 0px 8px 16px rgba(255, 165, 0, 0.5);
     /* Orange shadow on hover */
     cursor: pointer;
     /* Pointer cursor on hover */
 }

 @media screen and (max-width: 600px) {
     
    .section-date {
            font-size: 50px;
            top: 72%;
        }
    
        .section-date2 {
            font-size: 40px;
            top: 82%;
        }
    
 }
 @media screen and (max-width: 470px) {
     
    .section-date {
        font-size: 40px;
            top: 68%;
        }
    
        .section-date2 {
            font-size: 30px;
            top: 78%;
        }
    
 }
 @media screen and (max-width: 350px) {
     
    .section-date {
            top: 73%;
        }
    
        .section-date2 {
            top: 80%;
        }
    
 }