/* src/SectionHeader.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.section-header {
    position: relative;
    /* Ensure positioning context for absolute children */
    height: 86vh;
    background-color: white;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section-title {
    position: absolute;
    left: 13%;
    top: 7%;
    font-size: 240%;
    font-weight: 300;
    margin-bottom: 0%;
}

.section-date {
    position: absolute;
    right: 13%;
    top: 77%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0%;
}

.section-date2 {
    position: absolute;
    right: 13%;
    top: 88%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 0%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    /* Reduce the gap between the cards */
    overflow: hidden;
    /* Hide overflow to remove scrollbars */
    background-color: white;
}

.card {
    width: 35%;
    border-radius: 10px;
    transition: transform 0.3s;

}

.card:nth-child(1) {
    position: absolute;
    top: 100px;
    left: 9%;
    z-index: 3;
    height: 90%;
}

.card:nth-child(2) {
    position: relative;
    top: 50px;
    left: 31%;
    /* Adjust based on card width */
    z-index: 2;
    height: 80vh;
}

.card:nth-child(3) {
    position: absolute;
    top: 0;
    left: 55%;
    /* Adjust based on card width */
    z-index: 1;
    height: 90%;
}

@media (max-width: 768px) {
    .cards-container {
        flex-wrap: wrap;
        gap: 0;
    }

    .card:nth-child(1) {
        transform: translateY(20px);
    }

    .card:nth-child(2) {
        transform: translateY(10px);
    }

    .card:nth-child(3) {
        transform: translateY(0);
        z-index: 1;
    }
}

.section-stage {
    font-size: 10px;
    color: grey;
    margin-bottom: 0%;
    position: absolute;
    top: 87%;
    left: 10%;
}

.sportsbg {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-size: 275px;
    z-index: 100;
    color: #eceaea4d;
    top: 10%;
    right: 5%;
}