@font-face {
  font-family: aptops;
  src: url("/public/fonts/Aptos-SemiBold.ttf");
}

.cardbox {
  filter: drop-shadow(0 3px 5px rgb(187, 187, 187));
}

.match-card {
  --active-color: #60dede;
  --active-text-color: #0c004a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 7px;
  border-radius: 15px;

  background-color: var(--active-color);
  color: #0c004a;

  width: clamp(100px, 95vw, 1000px);
  transition: 300ms;

  clip-path: polygon(
    0 25px,
    25px 0,
    calc(100% - 25px) 0,
    100% 25px,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    25px 100%,
    0 calc(100% - 25px),
    0 25px
  );
}

.match-card:hover {
  transform: translateY(-5px) translateX(5px);
}

.match-card.live {
  --active-color: #e53b3b;
  --active-text-color: #fff;
}

.match-card.completed {
  --active-text-color: #fff;
  --active-color: #909090;
}

.card-info {
  background-color: #eee;
  padding: 15px 0;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  clip-path: polygon(
    0 25px,
    25px 0,
    calc(100% - 25px) 0,
    100% 25px,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    25px 100%,
    0 calc(100% - 25px),
    0 25px
  );
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
}

.team-logo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
}

.team .team-name {
  font-size: 18px;
  font-family: aptops;
  text-align: center;
  padding-top: 10px;
}

.team-left span {
  text-align: left;
  padding-left: 20px;
}

.team-right span {
  text-align: right;
  padding-right: 20px;
}

.match-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match-info > div {
  width: 100%;
}

.match-time-format {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.match-time-format span {
  font-family: aptops;
  padding: 0 10px;
  font-size: 17px;
  font-weight: bold;
}

span.sport-name {
  position: absolute;
  font-family: aptops;
  font-size: 20px;
  top: 0;
  left: 50%;
  translate: -50%;
  background: var(--active-color);
  color: var(--active-text-color);
  padding: 5px 25px;
  padding-top: 7px;
  border-radius: 0 0 15px 15px;
  clip-path: polygon(
    0 0,
    100% 0,
    /* 100% calc(100% - 20px), */
    calc(100% - 20px) 100%,
    20px 100%,
    0 0
  );
}

.vs {
  font-family: aptops;
  font-weight: bold;
  font-size: x-large;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.match-details {
  position: relative;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-button {
  padding: 7px 0;
  width: 125px;
  font-weight: bold;
  font-family: aptops;
  border-radius: 5px;
  font-size: 14px;
  transition: 300ms;
  cursor: pointer;
  margin: 0 5px;
}

.livebtn {
  color: #fff;
  background: red;
}

.livebtn:hover {
  background: rgb(255, 60, 60);
}

.location {
  color: #fff;
  background: #049850;
}

.location:hover {
  background: #04a658;
}

.tag {
  position: absolute;
  top: -50px;
  right: -50px;
  background: red;
  width: 100px;
  height: 100px;
  transform: rotateZ(45deg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
  color: #fff;
  font-weight: bold;
  font-family: aptops;
}

.disabled {
  background: #3b3b3b;
}

@media screen and (max-width: 775px) {
  .match-time-format span {
    font-size: 10px;
  }
}

@media screen and (max-width: 610px) {
  .team-logo {
    width: 50px;
    height: 50px;
  }

  .team span {
    font-size: 15px;
  }
}

/* //////////////////////////////// */

/* .result {
  padding: 25px;
  background: #e1e1e1;
  border-radius: 15px;
  font-family: aptops;
  width: max-content;
}

.result.basket,
.result.cricket,
.result.hockey {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result.volley table tr td {
  padding: 5px 20px;
  transition: 300ms;
  text-align: center;
}

.result.volley table thead td {
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

.result.volley table td:nth-child(odd) {
  background: #ebeaea;
}

.result.volley table td:nth-child(7) {
  background: #faf9f9;
}

.result .score {
  font-size: 21px;
  margin: 0 25px;
}

.result.basket .score span.score-type,
.result.cricket .score span.overs,
.result.hockey .score span.score-type {
  text-align: center;
  font-size: 18px;
  color: #3b3b3b;
  display: block;
} */


.result {
  display: inline-block;
  text-align: center;
}

.result.cricket span.sep {
  font-size: 18px;
  margin: 0 7px;
}

.result.cricket .overs {
  font-size: 21px;
  padding-top: 5px;
}