@font-face {
  font-family: aptops;
  src: url("/public/fonts/Aptos-SemiBold.ttf");
}

.cardbox {
  filter: drop-shadow(0 3px 5px rgb(187, 187, 187));
}

.cardbox * {
  overflow-x: visible;
}

.match-card {
  --active-color: #60dede;
  --active-text-color: #0c004a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4px;
  border-radius: 15px;

  background-color: var(--active-color);
  color: #0c004a;

  width: clamp(100px, 95vw, 750px);
  transition: 300ms;

  clip-path: polygon(
    0 25px,
    25px 0,
    calc(100% - 25px) 0,
    100% 25px,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    25px 100%,
    0 calc(100% - 25px),
    0 25px
  );
}

.match-card:hover {
  transform: translateY(-5px);
}

.match-card.live {
  --active-color: #e53b3b;
  --active-text-color: #fff;
}

.match-card.completed {
  --active-text-color: #fff;
  --active-color: rgba(31,69,107,1);
}

.card-info {
  background-color: #eee;
  padding: 15px 0;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  clip-path: polygon(
    0 25px,
    25px 0,
    calc(100% - 25px) 0,
    100% 25px,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    25px 100%,
    0 calc(100% - 25px),
    0 25px
  );
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
}

.team-logo {
  width: 70px;
  height: 70px;
  border-radius: 25%;
  padding: 5px;
  background: #fff;
}

.team .team-name {
  font-size: em;
  font-family: aptops;
  text-align: center;
  padding: 0 3px;
  padding-top: 10px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.match-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match-info > div {
  width: 100%;
}

.match-time-format {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.match-time-format > span {
  font-family: aptops;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

span.sport-name {
  position: absolute;
  font-family: aptops;
  font-size: calc((20px / 16) * 1em);
  top: 0;
  width: max-content;
  left: 50%;
  translate: -50%;
  background: var(--active-color);
  color: var(--active-text-color);
  padding: 5px 25px;
  padding-top: 7px;
  border-radius: 0 0 15px 15px;
  clip-path: polygon(
    0 0,
    100% 0,
    calc(100% - 20px) 100%,
    20px 100%,
    0 0
  );
}

.vs {
  font-family: aptops;
  font-weight: bold;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.match-details {
  font-weight: bold;
  font-size: calc((21px / 16) * 1em);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  margin: 0 5px;
}

.extra-button {
  padding: 7px 5px;
  width: 110px;
  font-weight: bold;
  font-family: aptops;
  border-radius: 5px;
  font-size: 85%;
  transition: 300ms;
  cursor: pointer;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.livebtn {
  color: #fff;
  background: red;
}

.livebtn:hover {
  background: rgb(255, 60, 60);
}

.location {
  color: #fff;
  background: #049850;
}

.location:hover {
  background: #04a658;
}

.tag {
  position: absolute;
  top: -50px;
  right: -50px;
  background: red;
  width: 100px;
  height: 100px;
  transform: rotateZ(45deg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
  color: #fff;
  font-weight: bold;
  font-family: aptops;
}

.disabled {
  background: rgba(31,69,107,1);
}

@media screen and (max-width: 750px) {
  .team {
    width: 140px;
  }
}

@media screen and (max-width: 500px) {
  .team {
    width: 100px;
  }

  .team-logo {
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  .team .team-name {
    font-size: 0.8em;
  }

  .match-time-format > span {
    font-size: 0.6em;
  }

  .match-details {
    margin: 0;
  }

  .extra-button {
    font-size: 0.7em;
    width: 85px;
  }
}

/* //////////////////////////////// */


.vs > span {
  line-height: 35px;
}

.result {
  width: max-content;
}

.result.cricket {
  font-size: 20px;
}
.result.cricket span.sep {
  font-size: 15px;
}
.result.cricket div:not([class]) {
  font-size: 10px;
  color: grey;
  padding: 0;
}

.result.hockey,
.result.basketball {
  font-size: 30px;
  line-height: 30px;
}
.result.hockey span,
.result.basketball span {
  font-size: medium;
  color: black;
}

.result.lawntt .set-box {
  /* width: max-content; */
  flex-basis: 2;
  background: #bebebe;
  padding: 5px;
  border-radius: 15px;
  padding-bottom: 7px;
  font-size: larger;
  color: #1a1a1a;
}
.result.lawntt .set-box .sep {
  font-size: small;
}
.result.lawntt .title {
  font-size: medium;
  background: #fff;
  color: #000;
  width: 100%;
  border-radius: 10px;
  padding: 2px 20px;
  margin-bottom: 7px;
  text-wrap: nowrap;
}
.dot-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  flex-basis: 1;
}
.dot-box .dot {
  width: 10px;
  height: 10px;
  background: #3a3a3a;
  border-radius: 50%;
}
.dot.won {
  background: green;
}
.dot.lose {
  background: red;
}
.dot.playing {
  background: #e9a506;
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dot.draw {
  background: sandybrown;
}
