.ant-btn {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  overflow-y: hidden !important;
  padding: 0 !important;
}

.ant-btn span {
  font-size: 1em !important; /* 1em = base font size */
  padding-bottom: 0.5em !important; /* Relative to font size */
}

.IISM {
  display: inline-flex;
}

.logo-motto {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3vh 1.5vw; /* Adjusted to vw and vh */
  padding-right: 4%;
  background-color: white;
  height: 9vh;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .logo img {
    max-width: 50px;
  }
}
@media screen and (max-width: 1300px) {
  .navbar {
    height: 9vh;
  }
}

.logo img {
  width: 10vw;
  max-width: 50px;
  /* border-radius: none; */
}
@media screen and (max-width: 1300px) {
  .logo img {
    max-width: 35px;
  }
}

.tagline {
  font-size: 1.5vh;
  color: grey;
  margin-left: 1vw; /* Relative to screen width */
}

.nav-links {
  display: flex;
  list-style: none;
  background-color: whitesmoke;
  border: 0.1vw solid #dcdcdc;
  border-radius: 2vw;
  padding: 0.2vh;
}

.nav-links li {
  margin: 0 1vw; /* Adjust spacing */
  position: relative;
  padding: 0.5vh 0;
}

.nav-links li::after {
  content: "";
  display: block;
  width: 0;
  height: 0.3vh;
  background: #ff0000;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5vh;
}

.nav-links li:not([class="active-link"]):hover::after {
  width: 80%;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links-mobile {
  display: none;
  z-index: 1000;
  transition: all 0.3s ease-in;
}

.mobile-menu-icon {
  display: none;
}

.Motto {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.9vh;
  font-weight: bold;
  color: rgba(140, 223, 229, 1); /* Theme color */
  margin-left: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  background: #26577b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, color 0.3s ease;
}

@media (max-width: 1024px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5vh;
    left: -40vw;
    width: 40vw;
    bottom: 0;
    position: fixed;
    background: linear-gradient(#ffffff, #ffffffc3 20%);
    padding: 1vh;
    backdrop-filter: blur(10px);
    transition: left 300ms;
    border-radius: 0;
    border: 0;
  }

  #showNav:checked ~ .nav-links {
    left: 0;
  }
  
  #showNav:checked ~ .mobile-menu-icon {
    transform: rotateZ(90deg);
  }

  .nav-links li {
    padding: 1.5vh 2vw;
  }

  .mobile-menu-icon {
    display: block;
    font-size: 4vh;
    cursor: pointer;
    fill: #000;
    transition: 300ms;
  }
}


.nav-links li a {
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: 500;
  font-size: 2.5vh;
  padding: 0.5vh 0;
}

.active-link a {
  border-bottom: 0.45vh solid #ff0000;
  color: #ff0000 !important;
}

@media (min-width: 2500px) {
  .navbar{
    height: 10vh;
  }
}