@font-face {
  font-family: aptops;
  src: url("/public/fonts/Aptos-SemiBold.ttf");
}

.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #0c004a;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000020;
  border: 7px solid #6ee3e7ca;
  width: clamp(100px, 95vw, 1000px);
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #36d1dc 30%, #5b86e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 300ms;
}

.card-info {
  padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.team-logo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
}

.team .team-name {
  font-size: 18px;
  font-family: aptops;
  text-align: center;
  padding-top: 10px;
}

.team-left span {
  text-align: left;
  padding-left: 20px;
}

.team-right span {
  text-align: right;
  padding-right: 20px;
}

.match-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.match-info > div {
  width: 100%;
}

.match-time-format {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.match-time-format span {
  font-family: aptops;
  padding: 0 15px;
  font-size: 17px;font-weight: bold;
}

span.sport-name {
  font-family: aptops;
  font-size: 25px;
  padding-bottom: 20px;
}

.match-details {
  position: relative;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-box {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.extra-button {
  padding: 7px 0;
  width: 125px;
  font-weight: bold;
  font-family: aptops;
  border-radius: 5px;
  font-size: 14px;
  transition: 300ms;
  cursor: pointer;
}

.location {
  color: #fff;
  background: #049850;
  box-shadow: 0 0 100px #0c004a;
}

.location:hover {
  background: #04a658;
}

.tag {
  position: absolute;
  top: -50px;
  right: -50px;
  background: red;
  width: 100px;
  height: 100px;
  transform: rotateZ(45deg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
  color: #fff;
  font-weight: bold;
  font-family: aptops;
}

.disabled {
  background: #3b3b3b;
}

@media screen and (max-width: 775px) {
  .match-time-format span {
    font-size: 10px;
  }
}

@media screen and (max-width: 610px) {
  .team-logo {
    width: 50px;
    height: 50px;
  }

  .team span {
    font-size: 15px;
  }
}

/* //////////////////////////////// */

.result {
  padding: 25px;
  background: #e1e1e1;
  border-radius: 15px;
  font-family: aptops;
  width: max-content;
}

.result.basket,
.result.cricket,
.result.hockey {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result.volley table tr td {
  padding: 5px 20px;
  transition: 300ms;
  text-align: center;
}

.result.volley table thead td{
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

.result.volley table td:nth-child(odd) {
  background: #ebeaea;
}

.result.volley table td:nth-child(7) {
  background: #faf9f9;
}

.result .score {
  font-size: 21px;
  margin: 0 25px;
}

.result.basket .score span.score-type,
.result.cricket .score span.overs,
.result.hockey .score span.score-type {
  text-align: center;
  font-size: 18px;
  color: #3b3b3b;
  display: block;
}

