@font-face {
  font-family: aptops;
  src: url("/public/fonts/Aptos-SemiBold.ttf");
}

.cardbox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 144px);
  padding: 25px 0;
  gap: 20px;
} 

.search-icon {
  font-size: 2em; /* Adjust the size as needed */
  color: #555; /* Adjust the color if desired */
}

.next-pre-box {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.button {
  background-color: #2e2e2e;
  color: #fff;
  font-size: larger;
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 300ms;
  border-radius: 5px;
}

.button.active:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.disable {
  background: #9e9e9e;
  color: #313131;
}

.chips {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  gap: 10px 5px;
}

:where(.css-dev-only-do-not-override-14i19y2).ant-input-outlined{
  border-color: rgba(0, 0, 0, 0.88);
}

.chips > div {
  background: black;
  padding: 2px;
  clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 10px, 100% 100%, 10px 100%, 0% calc(100% - 10px));
  font-weight: bold;
  width: 130px;
  text-wrap: nowrap;
  text-align: center;
}

.chips > div div {
  padding: 5px;
  clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 10px, 100% 100%, 10px 100%, 0% calc(100% - 10px));
  background: #eee;
  color: black;
  transition: 300ms;
}

.chips > div:hover,
.chips > div.active-chip {
  background: #c78200;
}

.chips > div:hover div,
.chips > div.active-chip  div {
  background: #f89d00;
  color: #fff;
}