/* src/SocialMediaHandles.css */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.container {
  position: relative;
  text-align: center;
  padding: 20px;
  max-width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: large;
  color: #888888;
  font-style: inter;
}

.social-media-cards-title {
  color: #000000;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.title-container .separator {
  padding: 0 10px;
  white-space: nowrap;
}

.line {
  flex: 1;
  border: none;
  border-top: 0px solid #888888;
  margin: 0;
}


.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 40px;
}

.separator {
  margin: 0 10px;
}

h1 {
  margin: 20px 0;
}

.underline {
  width: 60%;
  margin: 0 auto 20px;
  border-top: 1.5px solid #888888;
}

.social-media-cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

.instagram-embed-container {
  /* border-radius: 20px; */
  /* box-shadow: ; */
  height: 86%;
  overflow: hidden;
}

.social-media-cards:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  /* Adjust as necessary */
  background-color: #FFF;
  /* Pure white */
  z-index: -1;
}

.logo {
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .social-media-card{
    height: 250px;
  }
  .social-media-cards{
    gap: 20px;
  }
}

.social-media-cards:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  /* Adjust as necessary */
  background-color: #242424;;
  /* Pure black */
  z-index: -1;
}

.social-media-card {
  /* border: 1px solid #ccc; */
  
  border-radius: 10px;
  /* margin-bottom: 0px; */
  overflow: hidden;

}

.instagram-media {
  width: 100%;
  /* Ensures the embedded Instagram post takes full width */
  margin: 0;
  /* Reset margin to ensure no extra spacing */
  padding: 0;
  /* Reset padding to ensure no extra spacing */
  border: none;
  /* Remove any border that might interfere */
}

.instagram-media .ic {
  display: none !important;
}